annotated-types==0.6.0
attrs==23.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
inflection==0.5.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
pyairtable==2.2.1
pydantic==2.5.2
pydantic_core==2.14.5
python-dotenv==1.0.0
referencing==0.32.0
requests==2.31.0
rpds-py==0.13.2
typing_extensions==4.9.0
urllib3==2.1.0
